//Backgrounds-color
$Day-body-bg: #ffffff;
$Darkmode-body-bg: #000000;
$Darkmode-select-bg: #000000;
// Fonts-colors
$Day-font-color: #000000;
$Darkmode-font-color: #ffffff;
//Another Colors
$Green-color: #28ceb7;
//Fonts-family
$Main-font-family:  Helvetica, sans-serif;
